extends layout

block append head
  link(rel="stylesheet", href="https://unpkg.com/mint-ui/lib/style.css")
  link(rel="stylesheet", href="/stylesheets/download.css")
  script(src="https://cdn.jsdelivr.net/npm/vue")
  script(src="https://unpkg.com/mint-ui/lib/index.js")

block content
  div(id="app") 页面加载中...
  script(src="/javascripts/download.js")
  script.
    console.log('这是游戏下载界面')