extends layout

block append head
  link(rel="stylesheet", href="/stylesheets/guide.css")
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/javascripts/guide.js")
  script(src="/javascripts/userAuth.js")

block content
  div 
    p( class="guide-title") 欢迎来到嘻游娱乐
    ul
      li 
        a(href="https://www.xiyoucc.com/") 1.嘻游主页
      li
        a(href="/download") 2.下载游戏
      li
        a(href="/pay") 3.游戏充值
      li
        a(href="/mine") 4.个人中心
      
  
  script.
    console.log('这是统一导航页界面')