extends layout

block append head
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/javascripts/userAuth.js")
  script(src="/javascripts/initJssdk.js")

block content
  h1= title
  button(onclick='chooseImg()') ChooseImg
  p Welcome to #{title}
  script.
    console.log('this is index pug script')

  
    