doctype html
html
  head
    block head
      title= title
      meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")

  body
    block content
