extends layout

block append head
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/javascripts/userAuth.js")
  script(src="/javascripts/mine.js")

block content
  h1= title
  p 欢迎来到 #{title}
  button(onclick='testCookies()') 测试请求的cookies按钮
  script.
    console.log('这是个人中心界面')