html,
body {
    margin: 0;
    padding: 0;
}

.user-gameid {
    font-size: 0.9rem;
    color:#888;
}

.bonus-cell {
    margin-top: 10px;
}
.per-item {
    background-color: white;
    margin-top: 2px;
}
.user-info {
    margin-top: 15px;
}

.item-title {
    font-size: 0.80rem;
    color: #888;
}

.item-order-time {
    display: inline-block;
    font-size: 0.8rem;
    color: #888;
}

.item-goodtype {
    font-size: 0.8rem;
    color: #888;
}

.item-desc {
    font-size: 0.8rem;
    color: #888;
}

.item-price {
    float: right;
    font-size: 0.8rem;
    color: red;
    font-weight: bold;
}

.item-addition {
    float: right;
    font-size: 0.8rem;
    color: black;

}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

    {
    opacity: 0;
}