.user-info {
    box-sizing: border-box;
    width: 80%;
    height: 200px;
    background-color: skyblue;
    margin: 0px 10%;
    margin-top: 60px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.user-head {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.user-id {
    padding-top: 35px;
    padding-bottom: 15px;
}

.user-name {
    text-align: center;
    font-size: 20px;
}

.item-content{
    text-align: center;
    font-size: 17px;
}

.info-box {
    display: flex;
    flex-direction: column;
}
.info-item {
    margin-bottom: 10px;
}

.item-label {
    float: left;
    width: 30%;
    font-size: 17px;
}