.pay-ad {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.pay-ad-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.icon-img {
    padding: 5px 0;
    margin-right: 10px;
}
.icon-img-hd {
    margin-right: 15px;
}

.pay-btn {
    width: 80%;
    margin: 10px 10%;
}
.text-paysum {
    color: red;
}